/*universal edits made here*/
body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
	overflow:none;
	width:100%;
	/*you really shouldn't define font families here ...*/
}

/*let's determine larger screen edits here*/

/*starting with the menu*/
.menu {
	font-size:1em;
	color:#ffffff;
	background-color:#000000;
	text-align:center;
	padding:10px 0px;
	width:100%;
	top:0;
	position:fixed;
	z-index:5;
}

/*menu links*/
.menu a {
	font-weight:400;
	color:#ffffff;
	padding:0px 7px;
	text-decoration:none;
	/* the below affects hover transitions*/
	-webkit-transition: .2s;
    transition: .2s;
}

/*menu links on hover*/
.menu a:hover {
	color:#D9D9D9;
	-webkit-transition: .1s;
    transition: .1s;
}

/*This is for your organization's link or title. In this case, "The Skinny"*/
.menu a:first-child {
	font-weight:700;
	border-right:1px solid #fff;
	padding:0px 20px 0px 7px;
	margin:0px 7px 0px 0px;
}

/*We will need a smaller screen menu. But for now, on large screens, let's hide it.*/
.mobile-menu {
	display:none; 
}

/*time to work on the hero, or lead image and headline*/
.hero-bg {
	background-color:#999999;
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/9/97/Family_watching_television_1958.jpg');
	background-size: 110%;
	position: relative;
 	height: 100vh;
 	z-index:-5;
 	display:block;
}

/*same deal as the small screen menu*/
.hero-text-mobile {
	display:none;
}

/*this layer sits on top of .hero-bg to make the parallax look work*/
.hero-text {
	height: 110vh;
	width:100%;
	background-color:transparent;
	display:block;
	position:absolute;
	z-index:-2;
	top:30vh;
	text-align:center;
	text-shadow: 1px 1px 10px #000000;
}

/*headline*/
.hero-text h1 {
	color:#ffffff;
	font-size:6em;
	font-weight:800;
	margin-bottom:-50px;
	text-transform:uppercase;
}

/*subhead*/
.hero-text h2 {
	color:#ffffff;
	font-size:2em;
	font-weight:600;
	line-height:1.5em;
}

/*byline*/
.hero-text h3 {
	color:#ffffff;
	font-size:1em;
	font-weight:400;
	line-height:3em;
}


/*time to talk about the body*/

/*this edits the paragraph text*/
.body p {
	width:85%;
	margin:1em auto;
}



/*really the first section. Lede and nutgraf, more or less*/

/*these define the subheads for the section dividers*/
#section-one-hero h1, #section-two-hero h1, #section-three-hero h1 {
	color:#ffffff;
	font-size:4em;
	font-weight:800;
	text-align:center;
	text-shadow: 1px 1px 10px #000000;
	padding:33vh 0px 0px 0px;
}

/*This is the body stuff, yo. This is where your story goes.*/
.section {
	width:60%;
	margin:0 auto;
	padding:60px 0px;
	color:#000;
	font-size:1em;
	line-height: 1.5em;
}

/*this creates the drop cap on the first paragraph of each section*/
.section p:first-child:first-letter { 
    float: left; 
    font-size:6.5em;
    display:inline;
    font-weight:700; 
    line-height: 0.77em;
    padding:4px 25px 10px 0px; 
}

/*section one background*/
#section-one-hero {
	width:100%;
	height:80vh;
	background-image:url('http://www.hazardkentucky.com/hazard/main.jpg');
	background-size:110%;
}

/*section two background*/
#section-two-hero {
	width:100%;
	height:80vh;
	background-image:url('http://i0.wp.com/listverse.com/wp-content/uploads/2013/02/Screen-Shot-2013-02-27-at-5.35.02-PM.jpg?resize=600%2C399');
	background-size:110%;
}

/*section three background*/
#section-three-hero {
	width:100%;
	height:80vh;
	background-image:url('http://holeintheclouds.net/sites/holeintheclouds.net/files/good_morning/10oct/firstgrade.jpg');
	background-size:110%;
}


/*pullquotes*/
.pullquote-right {
	font-size:1.5em;
	font-weight:600;
	line-height:1.2;
	font-style: italic;
	width:30%;
	padding:0px 0px 20px 5%;
	float:right;
	color:#999999;
}

.pullquote-left {
	font-size:1.5em;
	font-weight:600;
	line-height:1.2;
	font-style: italic;
	width:30%;
	padding:0px 5% 20px 0px;
	float:left;
	color:#999999;
}

.pullquote-center {
	font-size:1.5em;
	font-weight:600;
	line-height:1.2;
	font-style: italic;
	width:85%;
	padding:20px 0px;
	margin:0 auto;
	color:#999999;
}


/*images in the body copy*/

/*contains image, caption and credit*/
.image {
	width:100%;
	margin:40px 0px 60px 0px;
	font-size:0.7em;
	line-height:1.2em;
	color:#999999;
}

/*defines the image itself*/
.image img {
	width:100%;
}

/*image caption, duh.*/
.caption {
	margin:0px;
	float:left;
	width:70%;
	display:inline-block;
}

/*image credit, duh.*/
.img-credit {
	margin:0px;
	float:right;
	width:30%;
	text-align:right;
	font-weight:600;
	display:inline-block;
}

.footer {
	width:100%;
	color:#ffffff;
	background-color:#000000;
	text-align:center;
	padding:25px 0px 25px 0px;

}

.footer a{
	font-weight:400;
	color:#ffffff;
	padding:0px 7px;
	text-decoration:none;
	-webkit-transition: .2s;
    transition: .2s;
}

.footer a:hover {
	color:#999999;
	-webkit-transition: .2s;
    transition: .2s;
}

/*Now let's adjust for smaller screens. We'll go from largest to smallest.*/
@media (max-width:1080px) {
	.hero-bg {
		background-size:140%;
		z-index:-20;
	}

	.section {
		width:80%;
		overflow:none;
	}
}

@media (max-width:850px) {
	/*headline*/
	.hero-text h1 {
		font-size:5.5em;
		line-height:1em;
		margin-bottom:-10px;
		margin-right:30px;
		margin-left:30px;
	}

	/*subhead*/
	.hero-text h2 {
		font-size:1.5em;
		line-height:1.3em;
		margin-right:30px;
		margin-left:30px;
	}

	/*byline*/
	.hero-text h3 {
		font-size:1em;
		line-height:3em;
	}
}

@media (max-width:575px) {
	.section {
		width:90%;
	}

	/*here is where we get rid of our large-screen menu*/
	.menu {
		display:none;
	}

	/*Now, let's add and define our small-screen menu*/
	.mobile-menu {
		font-size:1em;
		color:#ffffff;
		background-color:#000000;
		text-align:center;
		width:100%;
		top:0;
		position:fixed;
		z-index:2;
		display:block;
	}

	/*small-screen menu links*/
	.mobile-menu a {
		display:block;
		font-weight:400;
		color:#ffffff;
		background-color:#404040;
		padding:10px 0px;
		width:100%;
		border-bottom:1px solid #999999;
		text-decoration:none;
		-webkit-transition: .1s;
	    transition: .1s;
	}

	.mobile-menu a:hover {
		color:#ffffff;
		background-color:#000000;
		-webkit-transition: .1s;
	    transition: .1s;
	}

	/*"The Skinny," or your organization name*/
	.mobile-menu a:first-child {
		font-weight:700;
		background-color:#000000;
	}
	
	/*Let's hide the menu until called for*/
	#drop {
		display:none;
	}

	/*The button that shows and hides the menu. Remember, this is just the style, not the action.*/
	#dropbutton {
		padding:10px 0px;
		cursor:pointer;
	}

	.pullquote-center, .pullquote-left, .pullquote-right {
		font-size:1.5em;
		font-weight:600;
		line-height:1.2;
		font-style: italic;
		width:85%;
		padding:20px 0px;
		margin:0 auto;
		color:#999999;
		float:none;
	}

	.caption {
		width:100%;
		margin:0px 0px 30px 0px;
	}

	.img-credit {
		width:100%;
	}


	/*headline*/
	.hero-text h1 {
		font-size:4em;
	}

	/*subhead*/
	.hero-text h2 {
		font-size:1.2em;
		line-height:1.3em;
	}

	/*byline*/
	.hero-text h3 {
		font-size:1em;
		line-height:4em;
	}

	#section-one-hero, #section-two-hero, #section-three-hero {
		background-size:300%;
	}

	.hero-bg {
		background-size:300%;
	}

	#section-one-hero h1, #section-two-hero h1, #section-three-hero h1 {
		font-size:3em;
		padding:35vh 0px 0px 0px;
	}
}

@media (max-width:425px) {
	.section {
		width:95%;
	}

	.section p:first-child:first-letter { 
     	float: left; 
    	font-size:4em;
    	display:inline;
    	font-weight:700; 
    	line-height: 1em;
    	padding:4px 25px 0px 0px; 
     }

	.hero-bg {
		height:50vh;
		background-size:100%;
	}

	.hero-text {
		display:none;
	}

	.hero-text-mobile {
		display:block;
		font-color:#000000;
		text-align:center;
		margin-bottom:-60px;
	}

	/*headline*/
	.hero-text-mobile h1 {
		font-size:3.5em;
		line-height:1em;
		font-weight:800;
		margin-bottom:-5px;
		margin-right:2%;
		margin-left:2%;
		text-transform:uppercase;
	}

	/*subhead*/
	.hero-text-mobile h2 {
		font-size:1.4em;
		font-weight:800;
		line-height:1.3em;
		margin-right:2%;
		margin-left:2%;
	}

	/*byline*/
	.hero-text-mobile h3 {
		font-size:1em;
		font-weight:600;
		line-height:2em;
		margin-right:2%;
		margin-left:2%;
	}

	#section-one-hero h1, #section-two-hero h1, #section-three-hero h1 {
		font-size:2.5em;
	}
}
